//COLORS


$color-grey-1:rgb(211, 211, 211);
$color-grey-2:rgb(247, 247, 247);
$color-grey-3:rgb(232,232,232);
$color-blue:rgb(14, 216, 214);
$color-red: rgb(255, 0, 0);
$color-white: #fff;
$color-black: #000;

