#main-nav {
    /* background: linear-gradient(45deg, white, rgb(38, 38, 38));*/
    border: 0;
    height: 92px;
    right: 0;
    left: 0;
    position: absolute;
    background: transparent;
    .container {
        width: 80%;
    }
    .nav__link {
        &:link,
        &:visited {
            font-size: 2rem;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            transition: all .3s;
            padding-top: 4.4rem;
        }
        &:hover,
        &:active {
            color: lightgray;
        }
    }
}



/* .navigation .container {
    height: 100%;
} */

.navbar-nav>li>a {
    padding-top: 44px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
}