.privacy {
    background-color: #f7f7f7;
    padding-bottom: 8rem;
    min-height: 100%;
    &__heading-tertiary {
        font-size: 3rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        text-align: justify;
    }
    &__heading-fourth {
        font-size: 2.8rem;
        margin-bottom: 3rem;
    }
    &__list,
    &__text {
        font-size: 2rem;
        text-align: justify;
    }
}




