.logo {

    &__img {
        height: 6rem;
        position: absolute;
        top: 2.5rem;
        left: 20rem;

        // 600px
        @media (max-width: 37.5em) {

            & {
                left: 9rem;
            }
        }
    }

    &__img--subpage {
        height: 6rem;
    }
}